/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'sans-serif';
}

.container{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4070F4;
}

.form{
  max-width: 430px;
  width: 100%;
  padding: 30px;
  border-radius: 6px;
  background-color: #FFF;
}

header{
  font-size: 28px;
  font-weight: 600;
  color: #232836;
  text-align: center;
}

form{
  margin-top: 30px;
}

.form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
  border-radius: 6px;
  position: relative;
}

.field input, 
.field button{
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
}

.field input{
  padding: 0 15px;
  border: 1px solid #CACACA;
  outline: none;
}

.field input:focus{
  border-bottom-width: 2px;
}

.field button{
  color: #FFF;
  background-color: #0171D3;
  transition: all 0.3 ease;
  cursor: pointer;
}

.field button:hover{
  background-color: #016DCB;
}

.eye-icon{
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #8B8B8B;
  cursor: pointer;
  padding: 5px;
}

.form-link{
  text-align: center;
  margin-top: 10px;
}

.form-link span,
.form-link a{
  font-size: 14px;
  font-weight: 400;
  color: #232836;
}

.form a{
  text-decoration: none;
  color: #0171D3
}

form-content a:hover{
  text-decoration: underline;
}

.line{
  position: relative;
  height: 1px;
  width: 100%;
  background-color: #D4D4D4;
  margin: 36px 0;
}

.line::before{
  content: 'OU';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  color: #232836;
  padding: 0 15px;
}

.media-options a{
  display: flex;
  align-items: center;
  justify-content: center;
}

a.facebook{
  color: #FFF;
  background-color: #4267B2;
}

a.facebook .facebook-icon{
  height: 28px;
  width: 28px;
  color: #0171D3;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
}

.facebook-icon, 
img.google-img{
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

img.google-img{
  height: 20px;
  width: 20px;
  object-fit: cover;
}

a.google{
  border: 1px solid #CACACA;
}

a.google span{
  opacity: 0.6;
  font-weight: 500;
  color: #232836;
}